# Node.js
node_modules/
dist/
*.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env.*
.DS_Store
.idea/
.vscode/
*.iml
# OS Specific
Thumbs.db
.DS_Store
*.swp

# Logs
logs/
*.log
logs/*.log
pids/
*.pid
*.seed
*.pid.lock

public/
/public
